body {
  background-color: #f8cae0;
  color: #3b9999;
  width: 500px;
  margin-right: auto;
  margin-left: auto; 
}
button {
  padding: 5px 20px;
  background-color: #048197;
  border-style: none;
  color:#fdffff;
}
input {
  height: 20px;
  
}